<main class="landing">
    <a id="link-to-main" href="../principal.html">
        <div class="landing__page">
            <div class="landing__page--logom">
                <img class="landing__page--imgM" src="./assets/images/logoM.png"></img>
            </div>
            <div class="landing__page--logov">
                <img class="landing__page--imgV" src="./assets/images/logoV.png"></img>
            </div>
            <div class="landing__page--logob">
                <img class="landing__page--imgB" src="./assets/images/logoB.png"></img>
            </div>
        </div>
    </a>
    
</main>
