<main class="main">
    <a id="link-to-main" href="../principal.html">
        <div class="main__landing">
            <div class="main__landing--logom">
                <img class="main__landing--imgM" src="./assets/images/logoM.png"></img>
            </div>
            <div class="main__landing--logov">
                <img class="main__landing--imgV" src="./assets/images/logoV.png"></img>
            </div>
            <div class="main__landing--logob">
                <img class="main__landing--imgB" src="./assets/images/logoB.png"></img>
            </div>
        </div>
    </a>
</main>
